.loginWrapper, .infoButtonWrapper{
    width: 193px;
    height: 69px;
    background: #123B53;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}
.loginWrapper:hover{
    background: #317094;
}

.loginLikns {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #A9DEEE;
}

.infoButtonWrapper{
    border: 2px solid  #A9DEEE ;
    background: none;
}

.infoLink {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #A9DEEE;    
}