@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Urbanist&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;;
}